* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #0077B6;
    --dark-blue: #023E8A;
    --light-blue: #48CAE4;
    --lighter-blue: #90E0EF;
    --grafitte-gray: #343A40;
    --snow-white: #F8F9FA;
    --sweety-yellow: #FFD60A;

    --navy-blue: #0A1A2F;
    --tempest-blue: #13293D;
    --white: white;
    --light-ice-blue: #B0C4DE;
    --dodger-blue: #1E90FF;
    --light-sky-blue: #63B3ED;
    --dark-steel-blue: #2C3E50;

    --ice-blue: #F0F9F9;
    --lightest-green: #D7EFE8;
    --petrol-blue: #2C3E50;
    --musg-green: #5A7F71;
    --leaf-green: #4CAF50;
    --light-green: #81C784;
    --snow-green: #C2DED1; 
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo img {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
}